html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-image: url('../img/header.png');
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}



nav ul li a:hover {
    background-color: #888;
}


.btn {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #888;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    margin-bottom: 50px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.category-card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.category-card img {
    width: 100%;
    height: auto;
    display: block;
}

.category-card:hover {
    transform: translateY(-10px);
}

.category-info {
    padding: 20px;
}

.category-info h3 {
    margin-top: 0;
}

footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.gallery-section {
    margin-bottom: 50px;
    }
    
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    }
    
.gallery-item {
    height: 100%;
    flex: 1 1 calc(33.333% - 10px);
    overflow: hidden;
    border-radius: 15px;
    background-color: transparent;
    transition: transform 0.3s;
    }
    
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    }

.gallery-item video {
        width: 100%;
        height: auto;
    }
    
.gallery-item:hover {
    transform: scale(1.03);
    }

.back-arrow {
        height: 12px;
    }

.link-home {
        text-decoration: none;
        color: white;
    }

.link-home:hover {
        opacity: 50%;
    }

.title {
        color: #333;
        font-size: xx-large;
    }

.footer {
        background-image: url('../img/footer.png');
    }

.footer-contact {
    background-image: url('../img/footer.png');
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}











.datenschutz-main {
    text-align: left;
}

.impressum-main {
    text-align: left;
}

.impressum-main a {
    text-decoration: none;
}

.nutzungsbedingungen-main {
    text-align: left;
}

.nutzungsbedingungen-main a {
    text-decoration: none;
}


.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.div-contact {
    text-align: center;
}


.div-contact a {
    color: rgb(13, 46, 137);
    text-decoration: none;
}










.gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fullscreen-overlay img{
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 15px;
}

.fullscreen-overlay video{
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}